.div-register-buy {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.register-buy  {
    align-items: center;
    width: 50%;
}

#register-buy-button {
    text-align: center;
}