table {
    width: 90%;
    text-align: center;
}

.card-table, mat-card {
    margin: 1%;
}

.total {
    align-items: center;
    width: 50%;
}

.div-total {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

#continuar-compra,
#regresar-compra {
    text-align: center;
    margin: 1%;
}

.container {
    padding: 30px;
}

.flex-card {
    display: flex;
    justify-content: space-around
}
h2 {
    font-weight: bold;
}

.no-products {

    height: 85vh;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}



.shop-icon {
    font-size: 40px;
}
