:host{
    font-family: 'Lato', sans-serif;
}
.cart {
    margin-right: 0%;
    background-color: transparent;
    color: white
}

mat-toolbar {
    background-color: #651fff;
    width: 100%;
}

.titulo {
    color: white;
}

button {
    border-width: 0px;
}

.flex-spacer[_ngcontent-ylo-c50] {
    flex-grow: 1;
}


$header-height: 48px;


mat-drawer-container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-drawer {
        width: 400px;
        height: 100%;
    }

    mat-drawer-content {
        mat-toolbar {
            min-height: $header-height;
            margin-bottom: 20px;
            mat-toolbar-row {
                height: $header-height;

                display: flex;
                justify-content: space-between;
            }
        }

        .page-container {
            padding: 20px 10px;
        }
    }
}
