table {
  width: 100%;padding: 2%;
}
td.mat-cell {
  margin: 40;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  width: 40%;
  padding: 10px;
}
th.mat-header-cell {
text-align: center;
}

td {
  text-align: center;
}

.error-text , .succes-text {
  width: 100%;
  // height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icono {
  font-size: 60px;
}

.flex-card {
  display: flex;
  justify-content: space-around
}