<div class="div-container">
    <br>
    <div class="material-icons">
        local_shipping
    </div>
    <form [formGroup]="signInForm">
        <mat-card>
            <h1 mat-card-title>Bienvenido</h1>
            <h4>
                Ingrese su núnero de orden
            </h4>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Numero de Orden de compra</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <br>
                <button mat-raised-button color="warn" (click)="search()" >Buscar</button>
    
            </mat-card-content>
        </mat-card>
    </form>
</div>
