<form [formGroup]="signInForm">
    <mat-card>
        <h1 mat-card-title>Bienvenido</h1>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Numero de Orden de compra</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="signInForm.get('username').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="search()" >Buscar</button>

        </mat-card-content>
        <!--    <mat-card-actions>
            <button type="button" mat-button>Registrarse</button>
            <button mat-button [disabled]="signInForm.invalid">Ingresar</button>
        </mat-card-actions> -->
    </mat-card>
</form>
