
:host {
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
   
    .alert-success { 
        border-style: dotted;
        border-color: #3949ab;
    }
  }

  .spinner, .error-text {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icono {
    font-size: 60px;
}

.back-arrow{
    display: flex;
}

mat-card  {
    padding: 0px 50px;
}