<mat-drawer-container>
    <!--Header-->
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="div-flex">

                    <div>
                        <button mat-icon-button class="cart" routerLink="principal">
                            <mat-icon>storefront</mat-icon>
                        </button>
                        <span class="titulo">Mi página web</span>
                    </div>


                    <div>


                        <button mat-icon-button 
                                (click)="cerrarSesion()" 
                                class="material-icons"
                                matTooltip="Cerrar Sesión"
                                >
                            <span class="material-icons">
                                exit_to_app
                            </span>
                        </button>
                    </div>



                </div>

            </mat-toolbar-row>
        </mat-toolbar>
        <div class="page-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>