<mat-drawer-container>
    <!--Header-->
    <mat-drawer-content>
        <mat-toolbar class="mat-elevation-z8">
            <mat-toolbar-row>
                <button mat-icon-button class="cart" routerLink="principal">
          <mat-icon>storefront</mat-icon>
        </button>
                <span class="titulo">Mi página web</span>
                <div _ngcontent-ylo-c50 class="flex-spacer"></div>

                <button mat-icon-button (click)="cerrarSesion()" class="cart">
           Cerrar Sesion
          </button>

            </mat-toolbar-row>
        </mat-toolbar>
        <div class="page-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>