<mat-drawer-container>
    <!--Header-->
    <mat-drawer-content>
        <mat-toolbar color="primary" class="toolbar-shop">
            <mat-toolbar-row>

                <div class="div-flex">
                    <div>
                        <button mat-icon-button class="cart" routerLink="principal">
                            <mat-icon>storefront</mat-icon>
                        </button>

                        <span class="titulo">Mi página web</span>
                    </div>

                    <div>
                        <span [matBadge]="cantidad" matBadgeOverlap="false" class="badge-icon" matBadgeColor="warn"></span>
                        <button mat-icon-button routerLink="carrito" class="cart">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="page-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>