<div >
    <br>

    <h1 class="titulo"> Mapa del sistema </h1>

    <br>
    <div class="flex-card">

        <mat-card>
            <div class="material-icons">
                bookmarks
            </div>
            <p>
                <button mat-raised-button color="warn" routerLink="/catalogo">Catalogo</button>
            </p>

        </mat-card>

        <mat-card>

            <div class="material-icons">
                supervised_user_circle
            </div>

            <p>
                <button mat-raised-button color="warn" routerLink="/login">Login Administrativo</button>
            </p>

        </mat-card>

        <mat-card>

            <div class="material-icons">
                local_shipping
            </div>

            <p>
                <button mat-raised-button color="warn" routerLink="/login-cliente">Seguimiento de pedidos</button>
            </p>

        </mat-card>

    </div>

    <br>
</div>