.flex-card {
    display: flex;
    justify-content: space-around;
    mat-card   {
        text-align: center;
    }
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo, .material-icons {
    font-size: 40px;
}
