
<div *ngIf="isLoading" class="spinner">
    <mat-spinner ></mat-spinner>
</div>

<mat-card *ngIf="!isLoading" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pedido #{{pedido.pedidoId}}
            <mat-chip color="accent">Estado del pedido {{pedido.estado.nombre}}</mat-chip>
        </mat-card-title>
        <mat-card-subtitle>{{pedido.cliente.nombre}} {{pedido.cliente.apellido}}
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Celular {{pedido.cliente.documento}}
                    </p>
                    <p>
                        Fecha de Entrega {{pedido.fechaEntrega | date:'dd/MM/yyyy'}}
                    </p>
                    <p>
                        Celular {{pedido.cliente.celular}}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Correo {{pedido.cliente.correo}}
                    </p>
                    <p>
                        Dirección {{pedido.cliente.detarmento}}/{{pedido.cliente.provincia}}/{{pedido.cliente.distrito}}
                        {{pedido.cliente.direccion}}
                    </p>
                </div>
            </div>


        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef>Item </th>
                <td mat-cell *matCellDef="let element"> <span>{{element.detallePedidoId}}</span></td>
            </ng-container>

            <ng-container matColumnDef="codProducto">
                <th mat-header-cell *matHeaderCellDef> Cód. Producto</th>
                <td mat-cell *matCellDef="let element"> {{element.producto.productoId}}</td>
            </ng-container>

            <ng-container matColumnDef="nombreProducto">
                <th mat-header-cell *matHeaderCellDef> Nombre del Producto </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="card-flex">
        <button mat-button color="warn" routerLink="/principal2/administrador"> 
            <span class="material-icons">
                west
            </span>
            &nbsp;
            Regresar</button>
        <button mat-button color="primary" (click)="promoverEstadoPedido()">Promover a {{estado.nombre}}</button>
    </mat-card-actions>
</mat-card>